.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  .login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #696868;
    
  }

  .login-form h1 {
    text-align: center;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .form-group label {
    display: block;
  }
  .form-group input[type="text"]
 {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.submit{
    background-color: aqua;
    height: 50px;
    width: 80px;
}
  